<div class="wrapper">
  <div class="text-center">
    <h1>No more boring reviews.</h1>
    <p>Read a few bullet points, watch some videos and make a decision.</p>
  </div>
  <br>
  <div class="form-group">
    <input type="text" class="form-control categories-search" placeholder="Search categories"/>
  </div>

  <div class="halves">
    {{#each}}
    <div class="grid-cell">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="category-name">
            <span class="overflow-wrapper">
              <a href="/#/categories/{{id}}">{{name}}</a>
            </span>
          </h4>
        </div>
        <div class="panel-footer clearfix">
          <span class="badge badge-green pull-right">{{products.length}} Products</span>
          <div class="overflow-wrapper">
            {{#each products}}
            <a href="#/products/{{id}}" data-toggle="tooltip" title="{{name}}" data-placement="bottom"><img src="{{thumbnail}}" class="img-rounded" height="20"/></a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

</div>
