<div class="wrapper">
  <ol class="breadcrumb">
    <li><a href="#">Categories</a></li>
    <li class="active">{{name}}</li>
  </ol>
  <h1>{{name}}</h1>
  {{#each products}}
    <div class="panel panel-simple">
      <div class="panel-body">
        <h4 class="product-name">
          <img src="{{thumbnail}}" class="panel-img-product" height="30"/>
          <span class="overflow-wrapper">
            <a href="/#/products/{{id}}">{{name}}</a>
          </span>
        </h4>
      </div>
    </div>
  {{/each}}
</div>
