<div class="wrapper">
    <ol class="breadcrumb">
      <li><a href="#">Categories</a></li>
      <li><a href="#/categories/{{categories.id}}">{{categories.name}}</a></li>
      <li class="active">{{name}}</li>
    </ol>
    <div class="row section">
        <h1>{{name}}<span class="hashtag">#{{hashtag}}</span></h1>
    </div>

    <div class="section">
        <div class="row">
            <div class="col-xs-6 text-center">
                <img src="/img/positive.png" src="Positive">
            </div>
            <div class="col-xs-6 text-center">
                <img src="/img/negative.png" src="Negative">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h3>Positive Reviews</h3>
                <div id="positive" class="list-group"></div>
            </div>
            <div class="col-xs-6">
                <h3>Negative Reviews</h3>
                <div id="negative" class="list-group"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <form id='add-positive' class="form-inline text-center">
                    <input type="text" name="text" class="add-review form-control input-lg" id="positive-input" placeholder="Add a positive review">
                    <button id="add-positive" class="btn btn-default hide">Add</button>
                </form>
            </div>
            <div class="col-xs-6">
                <form id='add-negative' class="add-review form-inline text-center">
                    <input type="text" name="text" class="add-review form-control input-lg" id="negative-input" placeholder="Add a negative review">
                    <button type="submit" class="btn btn-default hide">Add</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row section">
        <div class="col-xs-12">
            <h3>Youtube</h3>
                <div id="videos" class="scrolls">
                </div>
                <div class="text-center">
                    <div class="well well-simple well-simple-info" id="youtube-info">
                        <h3 id="youtube-title" class="well-simple-title"></h3><br />
                        <div id="youtube-body" class="well-simple-body">
                            <div class="pull-left"><h4 id="youtube-label"><span id="youtube-youtuber"></span></h4></div>
                            <div class="pull-right"><h4 id="youtube-label"><span id="youtube-views"></span> Views</h4></div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div id="video-buttons" class="btn-group btn-group-md">
                      <button class="left btn btn-simple">
                        ‹
                      </button>
                      <button class="right btn btn-simple">
                        ›
                      </button>
                    </div>
                </div>
        </div>
    </div>

    <div class="row section">
        <div class="col-xs-12">
            <h3>Instagram</h3>
              <div id="instagram" class="scrolls">
              </div>
                <div class="text-center">
                    <div class="well well-simple well-simple-info" id="insta-info">
                        <h3 id="insta-desc" class="well-simple-title"></h3><br />
                        <div id="insta-body" class="well-simple-body">
                            <div class="pull-left"><h4 class="insta-label">@<span id="insta-user"></span></h4></div>
                            <div class="pull-right"><h4 class="insta-label"><span id="insta-likes"></span> Likes</h4></div>
                        </div>
                    </div>
                </div>
            <div class="text-center">
                <div id="instagram-buttons" class="btn-group btn-group-md">
                  <button class="left btn btn-simple">
                    ‹
                  </button>
                  <button class="right btn btn-simple">
                    ›
                  </button>
                </div>
            </div>
          </div>
    </div>
</div>
