<div class="wrapper">
  <h1>{{name}}</h1>
  <p>{{product_data.model}}</p>
  <p>{{product_data.brand}}</p>
  <h2>Categories</h2>
  <ul>
  {{#each categories}}
    <li>{{id}}-{{name}}</li>
  {{/each}}
  </ul>
  <h2>Reviews</h2>
  <h3>Positive</h3>
  <ul id="positive">
  {{#each positiveReviews}}
    <li>{{text}}</li>
  {{/each}}
  </ul>
  <h3>Negative</h3>
  <ul id="negative">
  {{#each negativeReviews}}
    <li>{{text}}</li>
  {{/each}}
  </ul>
</div>
