<div class="wrapper">
  <h1 class="text-center">Search for Products.</h1>
  <form id="product-search-form">
    <div class="form-group">
      <input type="text" id="query" class="form-control categories-search" placeholder="Search products" value="{{query}}"/>
    </div>
  </form>
  <h4>Product results for <b><em>{{query}}</em></b></h4>

  {{#each searchResults}}
    <div class="panel panel-simple">
      <div class="panel-body">
        <h4 class="product-name">
          <img src="{{thumbnail}}" class="panel-img-product" height="30"/>
          <span class="overflow-wrapper">
            <a href="/#/products/{{id}}">{{name}}</a>
          </span>
        </h4>
      </div>
    </div>
  {{else}}
    Nothing found.
  {{/each}}
</div>
