<div class="wrapper">
    <div class="page-header">
        <h1>{{name}} <small>{{product_data.model}}</small></h1>
        <a href="#/categories/{{category.id}}"><span class="label label-primary">{{category}}</span></a> 
        <span class="label label-default">{{product_data.brand}}</span>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 text-center">
                <img src="/img/positive.png" src="Positive">
                <hr>
            </div> 
            <div class="col-xs-6 text-center">
                <img src="/img/negative.png" src="Negative">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div id="positive" class="list-group">
                    <a href="" class="list-group-item">
                        <span class="badge"><h3>#</h3></span>
                        <h3>Positive Reviews</h3>
                    </a>

                  {{#each positiveReviews}}
                    <a href="" class="list-group-item list-group-item-success">
                        <span class="badge">{{count}}</span>
                        {{text}}
                    </a>
                  {{/each}}
                </div>
            </div>
            <div class="col-xs-6">
                <div id="negative" class="list-group">
                    <a href="" class="list-group-item">
                        <span class="badge"><h3>#</h3></span>
                        <h3>Negative Reviews</h3>
                    </a>

                  {{#each negativeReviews}}
                    <a href="" class="list-group-item list-group-item-danger">
                        <span class="badge">{{count}}</span>
                        {{text}}
                    </a>
                  {{/each}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <form id='add-positive' class="form-inline text-center">
                    <input type="text" name="text" class="add-review form-control input-lg" id="positive-input" placeholder="Add a positive review">
                    <button id="add-positive" class="btn btn-default hide">Add</button>
                </form>
            </div>
            <div class="col-xs-6">
                <form id='add-negative' class="add-review form-inline text-center">
                    <input type="text" name="text" class="add-review form-control input-lg" id="negative-input" placeholder="Add a negative review">
                    <button type="submit" class="btn btn-default hide">Add</button>
                </form>
            </div>
        </div>
        <div class="row">
            <h3>Youtube</h3>
            <div class="media-wrapper">
              <div class="scrolls">
                   <img src="http://placehold.it/250x150" />
                   <img src="http://placehold.it/250x150" />
                   <img src="http://placehold.it/250x150" />
                   <img src="http://placehold.it/250x150" />
              </div>
          </div>
        </div>

        <div class="row">
            <h3>Instagram</h3>
            <div class="media-wrapper">
              <div class="scrolls">
                   <img src="http://placehold.it/150x150" />
                   <img src="http://placehold.it/150x150" />
                   <img src="http://placehold.it/150x150" />
                   <img src="http://placehold.it/150x150" />
                   <img src="http://placehold.it/150x150" />
                   <img src="http://placehold.it/150x150" />
                   <img src="http://placehold.it/150x150" />
                   <img src="http://placehold.it/150x150" />
                   <img src="http://placehold.it/150x150" />
              </div>
          </div>
        </div>

    </div>
</div>
