<div class="wrapper">
    <h1>{{name}}</h1>
    <p>{{product_data.model}}</p>
    <p>{{product_data.brand}}</p>
    <p><span class="label label-default">{{category}}</span></p>

    <h2>Reviews</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h3 class="text-center">Positive</h3>
            </div> 
            <div class="col-xs-6">
                <h3 class="text-center">Negative</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <ul id="positive">
                  {{#each positiveReviews}}
                    <li>{{text}}</li>
                  {{/each}}
                </ul>
            </div>
            <div class="col-xs-6">
                <ul id="negative">
                    {{#each negativeReviews}}
                        <li>{{text}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <form id='add-positive' class="form-inline text-center">
                    <input type="text" name="text" class="form-control input-lg" id="positive-input" placeholder="Add a positive review">
                    <button id="add-positive" class="btn btn-default hide">Add</button>
                </form>
            </div>
            <div class="col-xs-6">
                <form id='add-negative' class="form-inline text-center">
                    <input type="text" name="text" class="form-control input-lg" id="negative-input" placeholder="Add a negative review">
                    <button type="submit" class="btn btn-default hide">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
